html {
    width: 100%;
    height: 100%;
    background-color: #333;
}

#mapid {
    height: 800px;
}

#mapid2 {
    height: 800px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.li-style li {
    float: left;
}

.li-style li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-style li a:hover:not(.active) {
    background-color: #111;
}

.active-nav-bar {
    background-color: #04AA6D;
}

.title-vizathon {
    text-align: center;
    background-color: #333;
    color: white;
}

.footer-default {
    background-color: #333;
    color: #333;
    height: 100px;
}

.brazil {
    width: 500px;
}

.russia {
    height: 360px;
}

.canada {
    width: 600px;
}

.singapore,
.Indonesia {
    width: 500px;
}

.peru {
    width: 600px;
}

.africa {
    font-size: 18px;
}

.uk {
    height: 500px;
}

.australia,
.india {
    height: 400px;
}

.finland,
.sweden,
.norway,
.denmark,
.germany,
.netherlands,
.spain,
.italy {
    height: 400px;
}

.threeM {
    width: 500px;
}

.threeMproduction,
.mask_use_overtime,
.us_china,
.N95,
.us_colombia,
.us_brazil,
.us_denmark {
    background-color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: 6px lightgray;
    border-style: outset;
    display: inline-block;
}

.threeMproduction {
    width: 43%;
}

.mask_use_overtime {
    width: 52%;
    display: inline-block;
}

.us_china,
.N95,
.us_colombia,
.us_brazil,
.us_denmark {
    align-items: center;
    position: relative;
    left: 18%;
    top: 18%;
    width: 64%;
}

.caption {
    font-size: 18px;
}

.title-vizathon p {
    color: white;
}

.title-vizathon-reverse {
    text-align: center;
    background-color: white;
    color: #333;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.gray {
    color: gray;
}

.purple {
    color: purple;
}

.lime {
    color: lime;
}

#legend {
    width: 25%;
    height: 16%;
    position: absolute;
    top: 20%;
    left: 70%;
    border: 6px white;
    border-style: outset;
}

.stack-top {
    z-index: 8;
    margin: 20px;
}

.stack-top-2 {
    z-index: 8;
    margin: 10px;
    display: inline-block;
}

#mandate {
    background-color: #003f5c;
    color: #003f5c;
    width: 10%;
    display: inline-block;
    border: 3px solid white;
}

#no-mandate {
    background-color: #ff6361;
    color: #ff6361;
    width: 10%;
    display: inline-block;
    border: 3px solid white;
}

.white {
    color: white;
}